@define-color base            #232136;
@define-color surface         #2a273f;
@define-color overlay         #393552;

@define-color muted           #6e6a86;
@define-color subtle          #908caa;
@define-color text            #e0def4;

@define-color love            #eb6f92;
@define-color gold            #f6c177;
@define-color rose            #ea9a97;
@define-color pine            #3e8fb0;
@define-color foam            #9ccfd8;
@define-color iris            #c4a7e7;

@define-color highlightLow    #2a283e;
@define-color highlightMed    #44415a;
@define-color highlightHigh   #56526e;

window {
    margin: 0px;
    background-color: @base;
    color: @text;
    font-family: 'JetBrainsMono NFP';
    font-size: 14px;
}

#input {
    margin: 5px;
    border-radius: 0px;
    border: 2px solid @rose;
    /*border-radius: 10px;*/
    color: @text;
    background-color: @base;
    
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: @base;
    color: @text;
    border-radius: 0px;
}

#outer-box {
    margin: 15px;
    border: none;
    background-color: @base;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: @text;
} 

#entry:selected {
    background-color: @highlightMed;
    color: @text;
    outline: none;
    /*border-radius: 10px;*/
    border: 2px solid @rose;
}

#entry:selected * {
    background-color: @highlighMed;
    color: @text;
    border-radius: 0px;
    outline: none;
}
