* {
	font-family: JetBrainsMono NFP;
	font-size: 14px
}

window#waybar {
	background: none;
}

#clock, #pulseaudio, #workspaces {
	background: rgba(35, 33, 54, 0.7);
	margin-top: 14px;
	padding: 7px 10px;
	border: solid #ea9a97;
    border-width: 2px 0px 2px 0px;
	color: #e0def4;
}

#pulseaudio {
	border-right: solid 2px #ea9a97;
}

#clock {
    border-left: solid 2px #ea9a97;
}

tooltip * {
	padding: 0px;
	margin: 0px;
}

tooltip {
	border-radius: 0px;
	border: 2px solid #ea9a97;
	background: rgba(35, 33, 54, 0.7);
}

tooltip label {
	color: #e0def4;
	margin: 3px 6px;
}


#workspaces {
	padding: 0px;
    transition: none;
}

#workspaces button {
	color: #e0def4;
	border-radius: 0px;
}


#workspaces button.active {
    background-color: #ea9a97;
	border-radius: 0px;
	color: rgb(35, 33, 54);

}

button:hover {
    border-color: transparent;
}

button:hover {
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background: none; /* Remove predefined background color (white) */
  transition: none; /* Disable predefined animations */
}
